* {
    margin: 0;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.my_navbar {
    color: #fbd754;
    background-color: transparent;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    position: fixed;
    transition: top 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.hamb_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 80px;
    margin-left: 35px;
}


.hamb_icon {
    display: inline-block;
}

.hamb_icon:hover {
    cursor: pointer;
}

.hamb_icon_text {
    font-weight: bold;
    font-size: 11px;
    padding-left: 4px;
}

.hamb_icon_text:hover {
    cursor: pointer;
}

.hamb_line {
    width: 20px;
    height: 2px;
    background-color: #fbd754;
    margin: 2px;
}

.my_navbar a {
    text-decoration: none;
}

.my_navbar a:hover {
    text-decoration: none;
}

.logo {
    height: 35px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav_buttons {
    height: 80px;
    float: right;
    display: flex;
    align-items: center;
    margin-right: 31px;
}

.nav_buttons a {
    margin-left: 6px;
    margin-right: 6px;
}

.my_btn {
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    padding: 12px 10px;
}

.btn_yellow {
    background-color: #fbd754;
    color: black;
}

.btn_yellow:hover, .btn_yellow:focus {
    background-color: black;
    color: #fbd754;
}

.btn_black {
    background-color: black;
    color: #fbd754;
}

.btn_black:hover, .btn_black:focus {
    background-color: #fbd754;
    color: black;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    display: block;
    z-index: 3;
}

.overlay_content {
    position: relative;
    top: 14%;
    width: 100%;
    margin-top: 30px;
}

.overlay_content a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid lightgray;
}

.overlay a:hover, .overlay a:focus {
    color: #51007c;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.menu_header a {
    text-decoration: none;
    color: black;
}

.menu_logo {
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.close_menu {
    font-weight: bold;
    font-size: 12px;
}

.close_menu:hover .close_menu:focus {
    color: #51007c;
}

.fas, .far {
    padding-right: 8px;
}

.overlay_content .gold {
    color: #fbd754;
}

.overlay_content .gold:hover {
    color: #51007c;
}

#background_diagonal_container {
    background-image: url("images/header1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 700px;
    color: white;
    position: relative;
}

#background_diagonal_part1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
}

#background_diagonal_part2 {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, transparent 50%, white 50%);
}

#background_diagonal_container_bottom {
    text-align: center;
    height: 1000px;
    color: white;
    position: relative;
}

#background_diagonal_part1_bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 500px;
    background: #51007c;
}

#background_diagonal_part2_bottom {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 50%;
    background: linear-gradient(to left top, #51007c 50%, transparent 50%);
}

.game-info {
    background-color: lightgray;
    padding: 20px 0;
    border-radius: 8px;
    margin: 25px 0;
    text-align: center;
}

.materials p {
    margin-bottom: 0;
}

#footer {
    background-color: #51007c;
    border-top: 1px solid #490d69;
    padding: 30px 0;
}

#bottom a {
    text-decoration: none;
    font-size: 12px;
}

.social {
    float: right;
    width: 40%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    color: #fbd754;
    margin: 0 4%;
}

.social a:hover {
    color: white;
}

.aboutus {
    float: left;
    width: 40%;
    font-weight: bold;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus a {
    color: white;
    margin: 0 4%;
}

.aboutus a:hover {
    color: #fbd754;
    margin: 0 4%;
}

.logo_bottom {
    height: 35px;
    float: none;
}

.header_p_desktop {
    margin-top: 30px;
}

.title {
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 80px;
}

.subtitle {
    padding: 10px 25%;
    margin-bottom: 35px;
}

.btn_assess {
    padding-left: 25px;
    padding-right: 25px;
}

.white {
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

#email {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}

.main_content {
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width: 850px) {
    .nav_buttons {
        float: none;
        margin-top: 60px;
        margin-right: 0;
        justify-content: center;
    }
    .logo {
        height: 25px;
        float: right;
        position: absolute;
        top: 21%;
        left: 50%;
    }
    .hamb_menu {
        margin-left: 20px;
        height: 60px;
    }
    .subtitle {
        padding: 10px 10%;
    }
    .game-info .row div {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #background_diagonal_part2 {
        top: 90%;
    }
    #background_diagonal_part2_bottom {
        top: 43%;
    }
}

@media only screen and (max-width: 767px) {
    #footer {
        height: 210px;
    }
    .social {
        float: none;
        width: 100%;
        height: 50px;
    }
    .social a {
        margin: 0 7%;
    }
    .aboutus {
        float: none;
        margin-top: -100px;
        width: 100%;
        height: 50px;
    }
    .aboutus a {
        margin: 0 7%;
    }
    .logo_bottom {
        height: 25px;
        margin-top: 80px;
    }
    .game-info {
        text-align: left;
        padding-left: 20px;
    }
    .game-info p {
        padding-left: 27px;
    }
}